<h1>Main</h1>
<button type="button" (click)="onClick($event)">Click me!</button>

<div>{{ clickMessage }}</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
<div>aaaaaaaaaa</div>
